<footer>
	<div class="container-fluid footer-main">
	<div class="container-main">
		<div class="row">
			<div class="col-md-1">
				<div class="footer-logo">  <br><br>
					<p><a href="http://www.uc.edu.ve/"><img  width="70" height="90" alt="UC" 
						src="{{ asset('img/logo_uc.png') }}" ></a></p>
				</div>				
			</div>
		    <div class="col-md-5" >
				<h3 class="footer-h3">Ficha Técnica</h3>
					<div >
				<p align="justify">La Facultad Experimental de Ciencias y Tecnología es la séptima Facultad de la Universidad de Carabobo, aprobada por el Consejo Nacional de Universidades el 02 de Julio de 1993, con una orientación hacia el fomento, apoyo y desarrollo de la investigación científica tecnológica, organizada por departamentos que otorgan el título en la licenciatura : Química, Computación, Física, Matemáticas y Biología.</p>  <br>
					</div>		
			</div>
		    <div class="col-md-3">
				<h3 class="footer-h3" >Contacto</h3>
					<ul >
						<li>
						<p><i class="fa fa-map-marker icon"></i> <strong> Dirección:</strong> UC, FACYT, Campus Bárbula, Estado Carabobo.</p></li>
						<li>
						<p><i class="icon fa fa-phone icon"></i> <strong> Teléfono:</strong> (0241) 6004000 / 315061</p></li>
						<li>
						<p><i class="fa fa-envelope icon"></i> <strong> Email:</strong> <a href=""></a></p></li>
					</ul>  
			</div>  
		    <div class="col-md-3" >
				<h3 class="footer-h3">Síguenos</h3>
				<div>
					<ul>
						<a href="http://www.facebook.com/">
						<li class="fa fa-facebook-square fa-3x  social-icons"></li></a>
						<a href="https://twitter.com/"><li class="fa fa-twitter fa-3x  social-icons"></li></a>
						<a href="http://www.instagram.com/"><li class="fa fa-instagram fa-3x  social-icons"></li></a>
					</ul>
				</div>
			</div>
		</div>
	</div>
		
    <div class="footer-copyright">	
    	<div class="container-main" style="padding-bottom: 18px;padding-top: 10px;">
    	<div class="row">
			<div class="col-md-12"> 
				<div class="pull-right hidden-xs">
          			<b>Versión</b> 1.0.0
        		</div>
        		<strong><a href="http://www.facyt.uc.edu.ve/">FACYT</a> 2014-2015 </strong> Desarrollado por <a href="https://www.linkedin.com/pub/roynny-zambrano/69/858/808">Roynni Zambrano</a> Impulsado por 
        		<a href="http://getbootstrap.com/">Bootstrap</a>
        		, <a href="http://symfony.com/">Symfony</a>
        		, <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a>
        		, <a href="https://almsaeedstudio.com/">AdminLTE</a>
			</div>	  			  
    	</div>  
    	</div>	
	</div>
	</div>

</footer>