      <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">

      <div align="center"> 
        <img src="{{ asset('img/logo_menu3.png') }}" class="menu-image" alt="menu Image"/>
      </div>    

    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->