    <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Versión</b> 1.0.0
        </div>

        <strong><a href="http://www.facyt.uc.edu.ve/">FACYT</a> 2014-2015 </strong> Desarrollado por <a href="https://www.linkedin.com/pub/roynny-zambrano/69/858/808">Roynni Zambrano</a> Impulsado por
        <a href="http://getbootstrap.com/">Bootstrap</a>
        , <a href="http://symfony.com/">Symfony</a>
        , <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a>
        , <a href="https://almsaeedstudio.com/">AdminLTE</a>

      </footer>